<p id="notice"><%= notice %></p>

<p>
  <strong>Tag:</strong>
  <%= @asset.tag_id %>
</p>

<p>
  <strong>Staff:</strong>
  <%= @asset.staff %>
</p>

<p>
  <strong>Type:</strong>
  <%= @asset.type %>
</p>

<p>
  <strong>Model:</strong>
  <%= @asset.model %>
</p>

<p>
  <strong>Make:</strong>
  <%= @asset.make %>
</p>

<p>
  <strong>Location:</strong>
  <%= @asset.location %>
</p>

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
