<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
  <h1><tab> Electronic Asset <i>#<%= @e_asset.tag_id %></i></h1> 
  <hr width = '30%', align = 'left'>
  <br>
  <strong>Tag:</strong>
  <%= @e_asset.tag_id %>
</p>

<p>
  <strong>Staff:</strong>
  <%= @e_asset.staff %>
</p>

<p>
  <strong>Type:</strong>
  <%= @e_asset.e_type %>
</p>

<p>
  <strong>Make:</strong>
  <%= @e_asset.make %>
</p>

<p>
  <strong>Location:</strong>
  <%= @e_asset.location %>
</p>

<p>
  <strong>Model:</strong>
  <%= @e_asset.model %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @e_asset.notes %>
</p>

<h2>
<%= link_to 'Edit', edit_e_asset_path(@e_asset) %> |
<%= link_to 'Back', e_assets_path %>
</h2>
